{% extends 'base.html.twig' %}

{% block title %}Offres disponibles :{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Numero de serie</th>
                <th>Couleur</th>
                <th>Plaque d'immatriculation</th>
                <th>Kilometrage</th>
                <th>Date d'achat</th>
                <th>Prix d'achat</th>
                <th>Duree de la location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.type }}</td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.numeroserie }}</td>
                <td>{{ vehicule.couleur }}</td>
                <td>{{ vehicule.plaqueimmatriculation }}</td>
                <td>{{ vehicule.nbkilometre }}</td>
                <td>{{ vehicule.dateachat }}</td>
                <td>{{ vehicule.prixachat }}</td>
                <td>{{ vehicule.dureelocation }}</td>
                <td>
                    
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Nous ne</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}">Create new</a>
{% endblock %}
