{% extends 'base.html.twig' %}
{% block title%} Liste des vehicules{% endblock %}

{% block body %}
 {% if vehicules %}
    <table id="vehicules" class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>type</th>
          <th>marque</th>
          <th>modele</th>
          <th>numero de serie</th>
          <th>couleur</th>
          <th>plaque immatriculation</th>
          <th>nb de kilometres</th>
          <th>date d'achat</th>
          <th>prix d'achat</th>
          <th>Duree de location</th>
        </tr>
      </thead>
      <tbody>
        {% for vehicule in vehicules %}
          <tr>
            <td>{{ vehicule.id }}</td>
            <td>{{ vehicule.type }}</td>
            <td>{{ vehicule.marque }}</td>
            <td>{{ vehicule.modele }}</td>
            <td>{{ vehicule.numero_serie }}</td>
            <td>{{ vehicule.couleur }}</td>
            <td>{{ vehicule.plaque_immatriculation }}</td>
            <td>{{ vehicule.nb_kilometre }}</td>
            <td>{{ vehicule.date_achat }}</td>
            <td>{{ vehicule.prix_achat }}</td>
            <td>{{ vehicule.duree_location }}</td>
           <td>
              <a href="/vehicule/{{ vehicule.id }}" class="btn btn-dark">Détails</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun vehicules</p>
  {% endif %} 
{% endblock %}