{% extends 'base.html.twig' %}
{% block title %}Reservation{% endblock %}

{% block body %}
{{ form_start(reservationform) }}
        {{ form_widget(reservationform.iduser, { 'attr': {'class': 'hidden-row' , 'value': app.user.id} }) }}
        {{ form_widget(reservationform.idvehicule, { 'attr': {'class': 'hidden-row' , 'value': vehicule.id } }) }}
    <div class="form-control">
         Temps souhaité de location (jour):
        {{ form_widget(reservationform.temps) }}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(reservationform) }}


{% endblock %}